.select {
	@apply relative w-max;

	> button {
		@apply flex items-center;

		> b {
			@apply mr-2 font-semibold;
		}

		> svg {
			@apply ml-4;
		}
	}

	> ul {
		@apply absolute right-0 z-20 w-max;
		top: calc(100% + 1rem);

		> li {
			@apply mb-3 block w-full rounded-lg bg-white px-7 py-2 text-center shadow-md transition-colors text-black duration-200 ease-linear;
			animation-delay: 0.1s;

			transform: translateX(100%);
			opacity: 0;
			animation: slideInRight 0.7s forwards;

			&:hover:not(&.active) {
				@apply bg-red-primary text-white;
			}
			&.active {
				background: #f41818;
				> button {
					@apply underline text-white;
				}
			}

			@for $i from 1 through 4 {
				&:nth-child(#{$i}) {
					animation-delay: -0.1s * $i;
				}
			}
		}
	}
}

@keyframes slideInRight {
	from {
		transform: translateX(200px);
		opacity: 0.2;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}
